@model MKTS.Models.Data.SchoolSupply

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SchoolSupply</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SchoolName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SchoolType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SchoolType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SchoolLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SchoolLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Province)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Partner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Partner)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WashroomRepair)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WashroomRepair)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConstructionWall)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConstructionWall)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConstructionWashroom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConstructionWashroom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InstallationHandpump)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstallationHandpump)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefurbishmentSchool)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefurbishmentSchool)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InstallationSolarPanel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstallationSolarPanel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RepairSchoolGate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RepairSchoolGate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InstallationFiltrationPlant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstallationFiltrationPlant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WhiteWash)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WhiteWash)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ElectricRepairments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ElectricRepairments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Flooring)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Flooring)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlasticMat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlasticMat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WaterCooler)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WaterCooler)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlackBoard)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlackBoard)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeacherChair)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeacherChair)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttendanceRegister)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttendanceRegister)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WaterTank)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WaterTank)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Desk)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Desk)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CupboardRack)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CupboardRack)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ElectricCooler)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ElectricCooler)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SSID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
