@model MKTS.Models.Gaamzan.SchoolSupported

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>School Supported</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Partner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Partner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Washroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Washroom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolarPanel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolarPanel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterTank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterTank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlasticMat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlasticMat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterCooler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterCooler)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlackBoard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlackBoard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherChair)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherChair)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Registar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Registar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shelter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shelter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LearningMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LearningMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LCDs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LCDs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tablets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tablets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SchoolSupportID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
