@model IEnumerable<MKTS.Models.Gaamzan.GaamzanTraining>

@{
    ViewData["Title"] = "Index";
}

<h1>Gaamzan Training</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParticipantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParticipantType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingTheme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.District)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParticipantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParticipantType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingTheme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingMode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrainingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrainingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrainingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
