@model IEnumerable<MKTS.Models.Data.District>

@{
    ViewData["Title"] = "Index";
}

<h2>Districts List</h2>

<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DistrictName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvinceName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProvinceName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DistrictID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DistrictID">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.DistrictID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
